{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
<style>
  .announcementbar-text {
    text-align: center;
    padding: 2px 0;
  }
  .announcementbar-mobile {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    display: block;
  }
  .announcementbar-desktop {
    display: none;
  }
  @media (min-width: 750px) {
    .announcementbar-text {
      padding: 18px 0;
    }
    .announcementbar-mobile {
      display: none;
    }
    .announcementbar-desktop {
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 110%;
      display: block;
    }
  }
</style>

<div
  class="utility-bar color-{{ section.settings.color_scheme }}"
>
  <div class="announcementbar-text">
    <span class="announcementbar-desktop small-hide">{{ section.settings.text_desktop }}</span>
    <span class="announcementbar-mobile medium-hide large-up-hide">{{ section.settings.text_mobile }}</span>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "class": "announcement-bar-section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "text",
      "id": "text_desktop",
      "default": "🎉 Limited-Time Offer! Get 20% off your first order with code: HEALTHY20 🎉",
      "label": "Desktop Text"
    },
    {
      "type": "text",
      "id": "text_mobile",
      "default": "🎉 Get 20% off your first order with code: HEALTHY20 🎉",
      "label": "Mobile text"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "accent-1"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "header",
      "content": "t:sections.announcement-bar.settings.header__1.content",
      "info": "t:sections.announcement-bar.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.announcement-bar.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.announcement-bar.settings.header__2.content"
    },
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "t:sections.announcement-bar.settings.auto_rotate.label",
      "default": false
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 10,
      "step": 1,
      "unit": "s",
      "label": "t:sections.announcement-bar.settings.change_slides_speed.label",
      "default": 5
    },
    {
      "type": "header",
      "content": "t:sections.announcement-bar.settings.header__3.content",
      "info": "t:sections.announcement-bar.settings.header__3.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": false,
      "label": "t:sections.announcement-bar.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.announcement-bar.settings.header__4.content",
      "info": "t:sections.announcement-bar.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "t:sections.announcement-bar.settings.enable_language_selector.label"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "t:sections.announcement-bar.presets.name",
      "blocks": []
    }
  ]
}
{% endschema %}
